<div id="cpMenuDiv">
<h1>{{title}}</h1>
<h3>313-373-7373 Option 2</h3>
<h2>Home of the Chirpie Pie!</h2>
<h3>Specials!</h3>

<ul>
<li *ngFor="let each of item" style="display: inline-block; border: 1px solid black; width: 150px; height: 300px; margin: 2px; padding:5px; background-color: #e6ac00;">
  <div style="float: left">
    <div style="height:25px; font-weight: bolder; margin-bottom:5px">{{each.name}}</div>
    <div style="height:15px; font-style: italic;">{{each.category}}</div>
    ${{each.price}}<br/><br/>
    {{each.description}}<br/>
  </div>
</li>
</ul>
</div>